* {
  font-family: 'Raleway', sans-serif;
}

body {
  font-family:'Raleway', sans-serif;
}

html {
  position: relative;
  min-height: 100%
}

.navbar {
  border-bottom: 1px solid #efefef;
}

.logo {
  font-family:'Raleway', sans-serif;
  font-size: 24px;
  font-weight: bold;
  background-color: #4aaaa5;
  padding: 10px;
  color: #fff !important;
  border-radius: 20px;
}

main {
  margin: 80px 0;
}

/* ------------------------- */
img{
  width: 100%;
  height: auto;
  border-radius: 20px; 
}

.links {
  font-size: 3em; 
  padding: 20px;
}

.fa-envelope, .fa-linkedin-in, .fa-github {
  color: black !important;
}


.btn-primary {
  font-family: 'Raleway', sans-serif;
  background-color: #4aaaa5 !important;
  border: #4aaaa5;
}
/* ------------------------- */


.footer {
  height: 62px;
  border-top: 6px solid #4aaaa5;
  margin-top: 3px;
  background-color: #666;
  padding-top: 14px;
  color: #fff;
}

/* Media Queries */

@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 400px) {
  
}
