/* applies to all */
* {
  font-family: 'Raleway', sans-serif;
}

body {
  font-family:'Raleway', sans-serif;
}

html {
  position: relative;
  min-height: 100%
}

/* color of navigation bar */
.navbar {
  border-bottom: 1px solid #efefef;
}

/* logo (full name) properties in nav bar */
.logo {
  font-family:'Raleway', sans-serif;
  font-size: 24px;
  font-weight: bold;
  background-color: #4aaaa5;
  padding: 10px;
  color: #fff !important;
  border-radius: 20px;
}

h1 {
  margin-top: 25px;
}

main {
  margin: 105px 10px;
}

/* headshot on main page */
img{

  width: 85%;
  height: 85%;
  border-radius: 20px; 
  margin-top: 25px;
}

/* sizing and formatting of social media links */
.links {
  font-size: 3em; 
  padding: 10px;
  margin-right: 50p;
}

/* color change of link icons */
.fa-envelope, .fa-linkedin-in, .fa-github {
  color: black !important;
  margin-right: 20px;
}


/* Card properties in portfolio */
.card {
  width:100%;
  margin: 10px;
}

/* color, border, and font properties of buttons */
.btn-primary {
  font-family: 'Raleway', sans-serif;
  background-color: #4aaaa5 !important;
  border: #4aaaa5;
  margin: 5px;
}


.footer {
  height: 62px;
  border-top: 6px solid #4aaaa5;
  margin-top: 3px;
  background-color: #666;
  padding-top: 14px;
  color: #fff;
}

/* Media Queries */
@media (max-width: 992px) {
 

}
@media (max-width: 768px) {
 
  .card {
    width:100%;
    margin-top: 5px;
  }

}
@media (max-width: 400px) {


}
