/* applies to all */
* {
  font-family: 'Raleway', sans-serif;
}

body {
  font-family:'Raleway', sans-serif;
  background-image: url("assets/images/background.jpg");
  background-size: cover;
}

html {
  position: relative;
  min-height: 100%;
  color: whitesmoke !important;
}

.container {
  /* background-color: black; */
  color: whitesmoke !important;
}

/* color of navigation bar */
.navbar {
  border-bottom: 1px solid black;
  background-color: black;
}

/* logo (full name) properties in nav bar */
.logo {
  border-radius: 20px;
  height: 40px;
  width: 270px;
  margin: 10px;
}

h1 {
  margin-top: 25px;
  margin-bottom: 25px;
}

main {
  margin: 105px 10px;
}

/* headshot on main page */
.headshot {

  width: 85%;
  height: 85%;
  border-radius: 50%; 
  margin-top: 25px;
}

/* sizing and formatting of social media links */
.links {
  font-size: 3em; 
  padding: 10px;
  margin-right: 50p;
}

/* color change of link icons */
.fa-envelope, .fa-linkedin-in, .fa-github {
  color: rgb(229, 238, 99) !important;
  margin-right: 20px;
}


/* Card properties in portfolio */
.card {
  width:100%;
  margin: 10px;
  background-color: black !important;
}

/* color, border, and font properties of buttons */
.btn-primary {
  font-family: 'Raleway', sans-serif;
  background-color: rgb(229, 238, 99) !important;
  border: rgb(229, 238, 99);
  color: black !important;
  margin: 5px;
}


.footer {
  height: 70px;
  margin-top: 3px;
  background-color: black;
  padding-top: 14px;
  color: #fff;
}

/* Media Queries */
@media (max-width: 992px) {
 

}
@media (max-width: 768px) {
 
  .card {
    width:100%;
    margin-top: 5px;
  }

}
@media (max-width: 400px) {


}
